<h3>Equipment</h3>
<ul>
  <li *ngFor = "let item of equipment">
    <span *ngIf="editEquipment !== item; else elseBlock">
       <span (click)="edit(item)" class="editable-text">{{item.part}}</span>
      <button (click)="remove(item)">remove</button>
  </span>
  <ng-template #elseBlock>
    <input #updatedEquipment (key.enter)="save(updatedEquipment.value, item)" value="{{item.part}}"/>
    <button (click)="save(updatedEquipment.value, item)">save</button>
  </ng-template>
  </li>
  <!-- <li>Habitat dome</li>
  <li>Drones</li>
  <li>Food containers</li>
  <li>Oxygen tanks</li> -->
</ul>

<input #part type="text"/>
<button (click)="add(part.value)">Add</button>
