<h3>Equipment</h3>
<ul>
  <li *ngFor = "let part of equipment">
    <span *ngIf="editEquipment !== equipment; else elseBlock">
      <span (click)="edit(equipment)" class="editable-text">{{equipment.part}}</span>
      <button (click)="remove(member)">remove</button>
  </span>
  <ng-template #elseBlock>
    <input #updatedEquipment (key.enter)="save(updatedEquipment.value, equipment)" value="{{equipment}}"/>
    <button (click)="save(updatedEquipment.value, equipment)">save</button>
  </ng-template>
  <!-- <li>Habitat dome</li>
  <li>Drones</li>
  <li>Food containers</li>
  <li>Oxygen tanks</li> -->
</ul>

<input #part type="text"/>
<button (click)="add(part.value)">Add</button>
